@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    /* background-color: rgb(250, 247, 236); */
    background-image: url("../img/wallpaper.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*------------------------ Cabecera ------------------------*/
/*  En la primera línea hay 4 elementos, 2 alineados a la izquierda y
    el siguiente centrado y el último a la derecha. Por eso creo un flex dentro de otro. 
    El primer bloque tiene 2 elementos, el ícono y "el resto", para que el segundo elemento
    quede al lado del ícono agrego "nowrap", sino se va abajo. */
.cabecera {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    width: 100%;
    margin-top: 15px;
    /* El fondo blanco es para que no queden los gráficos mal si hay un wallpaper*/
    background-color: white;
}

.icono-whatsapp {
    margin-left: 10px;
}

/*  El segundo bloque tiene 3 elementos, repartidos igual. */
.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: inherit;
}

/*  El teléfono tienen un márgen adicional arriba para que quede "alineado" a la vista. */
.our-phone {
    margin-top: 5px;
}

.logo {
    width: 20%;
    min-width: 200px;
}

/*  El slogan va a tener letra remarcada */
.slogan {
    margin: 5px 10px 30px 0px;
    font-size: 120%;
    font-weight: bold;
}

/*------------------------ Menu ------------------------*/
.grid-menu {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

/*Responsive menu: menor a 400px, sin CSS (es una pantalla no apta para CSS) */
/*Responsive menu: Entre 400px y 600px, 2 columnas (celular viejo) */
@media screen and (min-width:400px) {
    .grid-navigation {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
            "nav-1 nav-2"
            "nav-3 nav-4"
            "nav-5 nav-6"
        ;
        width: 100%;
        justify-items: center;
    }

    /*  CADA item del MENU */
    .grid-navigation a {
        text-decoration: none;
        color: black;
        background-color: rgb(255, 195, 127);
        border: 1px solid rgb(255, 60, 0);
        text-align: center;
        font-size: large;
        padding: 5px;
        border-radius: 5px;
        box-shadow: 5px 5px 10px rgb(105, 105, 105);
        margin: 5px 15px 5px 15px;
        width: 150px;
    }

    .grid-navigation a:hover {
        background-color: rgb(248, 171, 83);
    }
}

/*Responsive menu: Entre 600px y 720px, 3 columnas (celular) */
@media screen and (min-width:600px) {
    .grid-navigation {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
            "nav-1 nav-2 nav-3"
            "nav-4 nav-5 nav-6"
        ;
        width: 100%;
        justify-items: center;
        /* justify-items: center; */
        /* align-items: baseline; */
        /* justify-content: center; */
    }

    /*  CADA item del MENU */
    .grid-navigation a {
        text-decoration: none;
        color: black;
        background-color: rgb(255, 195, 127);
        border: 1px solid rgb(255, 60, 0);
        text-align: center;
        font-size: large;
        padding: 5px;
        border-radius: 5px;
        box-shadow: 5px 5px 10px rgb(105, 105, 105);
        margin: 5px 15px 5px 15px;
        width: 150px;
    }

    .grid-navigation a:hover {
        background-color: rgb(248, 171, 83);
    }
}


/*Responsive menu: Más de 1250px, 8 columnas (tablet, desktop) */
@media screen and (min-width:1150px) {
    .grid-navigation {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        width: 100%;
    }

    /*  CADA item del MENU */
    .grid-navigation a {
        text-decoration: none;
        color: black;
        background-color: rgb(255, 195, 127);
        border: 1px solid rgb(255, 60, 0);
        text-align: center;
        font-size: large;
        padding: 5px;
        border-radius: 5px;
        box-shadow: 5px 5px 10px rgb(105, 105, 105);
        margin: 5px 15px 5px 15px;
        width: 150px;
    }
    .grid-navigation a:hover {
        background-color: rgb(248, 171, 83);
    }
}

/* --------------- Fin de bloques de media responsive -------------*/

/* -------------------------- Principal -------------------------- */
/* dos estilos de página según el contenido */
.main_centered {
    margin-top: 30px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
}

.main_filled {
    margin-top: 30px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: 100%;
}

/* Remover formatos si la pantalla tiene menos de 400px */
@media screen and (min-width:400px) {

    /* el bloque termina al final, porque está excluyendo todos los formatos }

/* "focus" es una clase de bloque que llama la atención */
    .focus {
        /*    width: 100%;
    align-self: center;*/
        margin: 10px 10px 20px 10px;
        padding: 10px 10px 10px 10px;
        min-width: 300px;
        max-width: 500px;
        background-color: rgb(250, 229, 201);
        border-radius: 10px;
        box-shadow: 5px 5px 10px rgb(105, 105, 105);
    }

    .section-title {
        font-size: 120%;
        color: white;
        background-color: rgb(255, 141, 34);
        padding: 10px 10px 10px 10px;
        /* display block causa que el título tenga el fondo de color a todo lo ancho, sino se achica */
        display: block;
    }

    .item-title {
        font-size: 110%;
        margin-top: 15px;
        display: inline-block
    }

    .grafico {
        margin-top: 10px;
        text-align: center;
    }

    .info {
        text-align: justify;
        margin-top: 10px;
    }

    .focus-full {
        margin: 10px 10px 20px 10px;
        padding: 10px 10px 10px 10px;
        min-width: 300px;
        max-width: 500px;
        background-color: rgb(250, 229, 201);
        border-radius: 10px;
        box-shadow: 5px 5px 10px rgb(105, 105, 105);
    }
}

/* ------------------------ Contact form ------------------------*/
.contactForm {
    display: flex;
    flex-flow: column nowrap;
    color: rgb(65, 65, 65);
}

.input-field {
    margin-bottom: 10px;
    background-color: blanchedalmond;
}

/* ------------------------ footer ------------------------*/
footer {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    margin-top: 40px;
}

.menu-pie {
    text-align: center;
}

.navigation a {
    text-decoration: none;
    padding: 5px;
    color: black;
    border-radius: 5x;
    box-shadow: 5px 5px 10px rgb(105, 105, 105);
    background-color: rgb(255, 195, 127);
    border: 1px solid rgb(255, 60, 0);
    text-align: center;
    font-size: large;
    margin: 5px 15px 5px 15px;
    width: 150px;
}
.navigation a:hover {
    background-color: rgb(248, 171, 83);
}

.pie {
    margin-top: 20px;
    text-align: center;
}