@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

:root {
    font-family: 'Nunito', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../img/wallpaper.jpg");
    /* alternativa: background-color: rgb(250, 247, 236); */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@import "variables/variables";
@import "sass2/condicionales";
@import "sass2/extend";
@import "sass2/maps";
@import "sass2/mixins";
@import "sass2/operaciones";
@import "partials/header";
@import "partials/menu";
@import "partials/section";
@import "partials/footer";


