$h1: 120%;
$h2: 110%;
$color-fondo: rgb(255, 195, 127);
$color-borde-boton: rgb(255, 60, 0);
$color-fondo-bloque: rgb(250, 229, 201);
$color-titulo-bloque: rgb(255, 141, 34);
$color-sombra: rgb(105, 105, 105);
$color-boton: rgb(248, 171, 83);
$color-enlace: rgb(255, 60, 0);
$distancia: 2000px;