/* Los encabezados tiene tipo de letra más grande pero no tanto como el default */
$h1: 120%;
$h2: 110%;
/* Esta es la paleta de colores del sitio */
$color-fondo: rgb(255, 195, 127);
$color-borde-boton: rgb(255, 60, 0);
$color-fondo-bloque: rgb(250, 229, 201);
$color-titulo-bloque: rgb(255, 141, 34);
$color-sombra: rgb(105, 105, 105);
$color-boton: rgb(248, 171, 83);
/* Distancia desde el borde, para las animaciones de traslado */
$distancia: 2000px;