/* ------------------------ Contact form ------------------------*/
.contactForm {
    display: flex;
    flex-flow: column nowrap;
    color: $color-sombra;
}

.input-field {
    margin-bottom: 10px;
    background-color: $color-fondo-bloque;
}
