/*------------------------ Menu ------------------------*/
.menu-group {
    width: 100%;
    margin-top: 30px;
    justify-content: center;
    align-content: start;
}

.navbar-toggler {
    background-color: $color-fondo;
}

/*  CADA item del MENU (estilo botón) */
.nav-item {
    text-decoration: none;
    color: black;
    background-color: $color-fondo;
    border: 1px solid $color-borde-boton;
    text-align: center;
    font-size: large;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px $color-sombra;
    margin: 5px 15px 5px 15px;
    width: 150px;
}

.nav-item:hover {
    background-color: $color-boton;
    font-size: larger;
}

/* botón hamburguesa con margen para que no quede pegado al borde */
.navbar-toggler {
    margin-left: 20px;
}

@media screen and (min-width:380px) {
    .menu-group {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
            "nav-1 nav-2"
            "nav-3 nav-4"
            "nav-5 nav-6"
            ;
        justify-content: start;
        }
}
@media screen and (min-width:570px) {
    .menu-group {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
            "nav-1 nav-2 nav-3"
            "nav-4 nav-5 nav-6"
        ;
        justify-content: start;
    }
}
@media screen and (min-width:1140px) {
    .menu-group {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-template-areas:
            "nav-1 nav-2 nav-3 nav-4 nav-5 nav-6"
        ;
        justify-content: start;
    }
}