h1 {
    font-size: $h1;
}

h2 {
    font-size: $h2;
}

/* usamos bootstrap */
.card {
    background-color: $color-fondo-bloque;
}

.enlace{
    color: $color-enlace;
    text-decoration: none;
    width: 100%;
}

.section-title {
    font-size: 120%;
    color: white;
    background-color: $color-titulo-bloque;
    padding: 10px 10px 10px 10px;
}

.card-title {
    margin-top: 10px;
}

.info {
    text-align: justify;
    margin-top: 10px;
}