/* "bloque-base" es una clase de bloque que llama la atención */
.bloque-base {
    margin: 10px 10px 20px 10px;
    padding: 10px 10px 10px 10px;
    max-width: 500px;
    background-color: $color-fondo-bloque;
    border-radius: 10px;
    box-shadow: 5px 5px 10px $color-sombra;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-delay: 0s;
    transition-timing-function: ease;
}

.bloque-dli {
    @extend .bloque-base;
    animation-name: desliza-desde-izquierda;
}

.bloque-dld {
    @extend .bloque-base;
    animation-name: desliza-desde-derecha;
}

@keyframes desliza-desde-izquierda {
    0% {
        transform: translateX(-$distancia) scale(0.5);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes desliza-desde-derecha {
    0% {
        transform: translateX($distancia) scale(0.5);
    }
    100% {
        transform: scale(1);
    }
}

