/* ------------------------ Contact form ------------------------*/
.contactForm {
    display: flex;
    flex-flow: column nowrap;
    color: rgb(65, 65, 65);
}

.input-field {
    margin-bottom: 10px;
    background-color: blanchedalmond;
}
